<!DOCTYPE html>
<html lang="en">
<head>
  <title>FlaskApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home2.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>FlaskApp</h1> 
  <p>Data Visualization</p> 
  
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
        <div class="card">
          <h3>Table</h3>
          <p>Some description</p>
          <a href="{{ url_for('dataPage') }}" class="btn btn-primary">dataFrame Table</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <h2>API tasks</h2>
          <p style="padding-top: 10px;"> Flask API integration into 
            <br> webpage to answer http requests.</p>
          <a href="{{ url_for('tasks') }}" class="btn btn-primary">API</a>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="card">
          <h3>Tree graphs</h3>
          <p>Some description</p>
          <a href="{{ url_for('dataVisualization') }}" class="btn btn-primary">Tree graph</a>
        </div>
      </div>    
    </div> 
  </div>

<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FlaskApp</a>
    
</nav>


</body>
<footer>
   

</footer>
</html>